* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    outline:none; 
    }
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap");

@font-face {
    font-family: "Stepped";
    src: url(srcs/SteppedDemoRegular.ttf) format("truetype");
}

.Main_content {
    margin-right: 50px;
}

body{
    background-color: #3f443d;
}

.fullscreen{
    width: 100%;
    height:100%;
}

/*-----------------------------------header styles---------------------------------------------------------------------------------*/

header {
    height: 100vh;
    width: 100vw;
}

#header_text {
    padding: 0 0 3vh 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    color: white;
    width: 45vw;
    height: 34vh;
    position: relative;
    height: auto;
}

#header_text h1 {
    font-family:'Fira Sans Condensed', sans-serif;
    font-size: 10.5vw;
    text-align: center;
    margin: auto;
    filter: brightness(1000%)
}

#header_text p {
    font-family: 'Grandstander', cursive;
    font-size: 1.3vw;
    text-align: center;
    margin-top: 5px;
    filter: brightness(1000%)
}

#header_background {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("srcs/ChoppingBoard.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#header_buttons_background {
    height: 150%;
    width: 150
  }
#header_buttons {
    position: relative;
    left: 49.375vw;
    top: 40vh;
    width: 45vw;
    height: auto;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition:0.3s ease 0s;
}

#header_buttons a {
    float: left;
    position: relative;
    font-size: 1.5vw;
    height: 2.7vw;
    padding-top: 0.7vw;
    width: 10vw;
    border-radius: 12px;
    margin-left: 1.25vw;
    filter: brightness(100%);
    color: white;
    text-align: center;
    font-family: 'Grandstander', cursive;
}
#header_buttons a:hover {
    filter: brightness(95%);
    color: #44312d;
    background-image: none;
    box-shadow: 4px 8px 8px black;
    background-image: url("srcs/button.jpg");
    background-size: cover;
    transition: 0.3s;
}
#features_text {
    padding-left: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-thumb {
    background-color: #f7f1e3;
}
  ::-webkit-scrollbar-track {
    background-color: #1e1e24;
}
/*-------------------------------section features styles---------------------------------------------------------------------------------*/

.equalheight{
    display: flex;
}

#features_title{
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif; 
    color:aliceblue;
    margin-top: 50px;
}

.equalheight > #features_left{
    background-color: #44312d;
    font-family: 'Courier New', Courier, monospace;
    color: #f2ebd9;
    display: block;
    border: 10px black;
    font-size: 25px;
    box-shadow: 10px 10px 30px black; 
    float: left;
    width:100%;

}

.equalheight > #features_right{
    background-color: #65c35c;
    padding: 0px;
    display: block;
} 

#features_image{
    width:60% ;
    height:60%;
    margin-left: 20%; 
    margin-right: 0%;
    margin-bottom: 0%; 
    margin-top: 10%;
    box-shadow: 10px 10px 30px black;
}

#features_textv1{
    color: white;
    margin: 50px;
    margin-top: 50px;
    font-family:'Fira Sans Condensed', sans-serif;
    font-size: 18.99px;
    height: auto;
}

#features_text{
    color: white;
    margin: auto;
    width: 80%;
    margin-top: 50px;
    font-family:'Fira Sans Condensed', sans-serif;
    font-size: 18.99px;
    height: auto;
}

#inter{
    box-shadow: 10px 10px 30px black;

}

#more {
    display: none;
}

.btn_read_more {
    background-color: #65c36f;
    color:white;
    position: relative;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    font-family:'Fira Sans Condensed', sans-serif;
    backface-visibility: hidden;
}

.btn_read_more a {
    text-align: center;
    padding: none;
}

.btn_read_more:hover {
    background-color:#588a45;
    box-shadow: 2px 4px 4px black;
}

#more{
    margin-top: 15px; 
    width: 40%;
}


/*-------------------------------section prices styles---------------------------------------------------------------------------------*/

#prices_title{
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif; 
    color: black;
    margin-top: 25px;
}

#prices_paid_title{
    margin-left: 25px;
    margin-top: 5%; 
    font-family: 'Fira Sans Condensed', sans-serif; 
    color: black;
}

.equalheight > #prices_left{
    background-color: #65c35c;
    display: block;
    float: left;
    width: 60%;
}
.equalheight > #prices_right{
    background-color:#f2ebd9;
    display: block;
    font-size: 25px;
    box-shadow: 10px 10px 30px black;
    padding: 0px;
    margin-left: 0%;
    flex: 1;
} 

#prices_text{
    color: white;
    margin: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:'Fira Sans Condensed', sans-serif;
    font-size: 18.99px;
    height: auto;
}

#prices_text_right{
    color: black;
    margin: 25px;
    margin-top: 50px;
    font-family:'Fira Sans Condensed', sans-serif;
    font-size: 18.99px;
    height: auto;

}
#inter{
    box-shadow: 10px 10px 30px black;
    height: 20vh; 
    background: #3f443d; 
    margin-bottom: 70px;

}


/*-------------------------------contact styles---------------------------------------------------------------------------------*/

#prices_free_title{
    margin-left: 25px;
    margin-top: 10px; 
    font-family: 'Fira Sans Condensed', sans-serif; 
    color:aliceblue; 
}

#contact_title{
    text-align: center;
    margin-top: 30px; 
    font-family: 'Fira Sans Condensed', sans-serif; 
    color: black;
}

#contact_right{
    background-color: #f2ebd9;
    display: block;
    border: 10px black;
    font-size: 25px;
    box-shadow: 10px 10px 30px black;
    height:auto; 
    margin: 0px;
    float: right;
    width: 800px;
} 

#contact_left{
    background-color: #65c35c;
    padding: 0px;
    display: block;
    height: 600px;
    
}


#contact_text_left{
    color: aliceblue;
    margin: 25px;
    margin-top: 25px;
    font-family:'Fira Sans Condensed', sans-serif;
    font-size: 18.99px;
    height: auto;

}

/*---------------------------Navigation Bar Styles-----------------------------*/

#navbar {
    z-index: 100;
    position: fixed;
    height: 4vw;
    width: 100vw;
    top: -2vw;
    /* background-image: linear-gradient(to left, rgb(100, 71, 34) 40%, rgb(7, 87, 0)); */
    background-image: url("srcs/button_background.jpg");
    filter: brightness(150%);
    opacity: 0;
    box-shadow: 0 0 2vw 0 black;
    transition: 0.7s;
}

#navbar a { text-decoration: none;}

#nav_title {
    float: left;
    font-size: 3.3vw;
    font-weight: bold;
    font-family: 'Fira Sans Condensed';
    color: white;
    text-shadow: 0 0.2vw black;
    width: 20vw;
    height: 4vw;
    text-align: center;
    overflow-y: hidden;
}

.nav_button {
    float: left;
    font-size: 1.7vw;
    font-family: 'Fira Sans Condensed';
    color: white;
    text-shadow: 0 0.2vw black;
    width: 20vw;
    height: 4vw;
    padding-top: 1vw;
    text-align: center;
}

.nav_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.to_scroll {
    position: relative; 
    height: 0; 
    top: -4vw;
}
/*-------------------------------Contact Form---------------------------------------------------------------------------------*/
#form_content{
    display: none;
}
.form_container {
    width: 340px;
    height: 440px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 8px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    border:2px solid #65c35c;
    box-shadow: 0 0 40px -10px #000;
    z-index: 0;
  }
  
  .form_container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form_container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 .form_button{
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #65c35c;
    background: 0;
    color: #65c35c;
    cursor: pointer;
     
 }
  
 .form_button:hover{
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #44312d;
    background: 0;
    color: #44312d;
    cursor: pointer;
     
 }
/*---------------------------Footer Styles-----------------------------*/

 footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
 
