* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

@font-face {
    font-family: "Stepped";
    src: url(srcs/SteppedDemoRegular.ttf) format("truetype");
}

#header_text {
    padding: 0 0 3vh 0;
    left: 50vw;
    top: 40vh;
    transform: translate(-50%, -50%);
    color: rgb(197, 197, 197);
    background-color: rgba(0, 0, 0, 0.6);
    width: 45vw;
    height: 32vh;
    position: relative;
    border-radius: 1vw;
    box-shadow: 0 0 2vw 2vw rgba(0, 0, 0, 0.6);
    }

#header_text h1 {
    font-family: "Stepped";
    font-size: 10vh;
    text-align: center;
}

#header_text p {
    font-family: 'Forte';
    font-size: 4vh;
    text-align: center;
}

#header_background {
    height: 100%;
    width: 100%;
    background-image: url("srcs/header_background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

header {
    height: 100vh;
    width: 100vw;
}