* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@700&display=swap");

@font-face {
    font-family: "Stepped";
    src: url(srcs/SteppedDemoRegular.ttf) format("truetype");
}

.Main_content {
    margin-right: 50px;
}
header {
    height: 100vh;
    width: 100vw;
}

#header_text {
    padding: 0 0 3vh 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    color: #d1d8e0;
    width: 45vw;
    height: 34vh;
    position: relative
    }

#header_text h1 {
    font-family:'Gupter', serif;
    font-size: 9.5vw;
    text-align: center;
    margin: auto;
}

#header_text p {
    font-family: 'Gupter', serif;
    font-size: 1.3vw;
    text-align: center;
    margin-top: 5px
}

#header_background {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("srcs/ChoppingBoard.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    box-shadow: crimson;
}
#header_buttons_background {
    height: 150%;
    width: 150
  }
#header_buttons {
    position: relative;
    left: 49.375vw;
    top: 40vh;
    width: 45vw;
    height: 4vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition:0.3s ease 0s;
}

#header_buttons a {
    float: left;
    position: relative;
    font-size: 2vw;
    height: 2.7vw;
    padding-top: 0.3vw;
    width: 10vw;
    border-radius: 12px;
    margin-left: 1.25vw;
    filter: brightness(200%);
    color: #2f3542;
    box-shadow: rgb(17, 17, 17);
    text-align: center;
    font-family: 'Gupter', serif;
    font-size: 1.8vw;
}
#header_buttons a:hover {
    filter: brightness(230%);
    color: #44312d;
    background-image: none;
    box-shadow: 10px 10px 5px black;
    background-image: url("srcs/button.jpg");
    background-size: cover;
    transition: 0.5s;
}
.features_text {
    padding-left: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-thumb {
    background-color: #BD9CA5;
}
  ::-webkit-scrollbar-track {
    background-color: #1e1e24;
}
